.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
@font-face {
  font-family: 'ChenYuluoyanThin';
  src: local('ChenYuluoyanThin'), url('../public/ChenYuluoyan-Thin-Monospaced.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




// .outletTop{
//   margin-top: 80px;
// }

